<table class="table">
  <thead>
    <tr>
      <th class="h4">タスク</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |t| %>
      <tr>
        <td><%= t.task %></td>
      </tr>
    <% end %>
  </tbody>
</table>